
<% if user_signed_in? %>
    <a href="#" class="btn btn-dark">
        Welcome, <%=current_user.email%>
    </a>

    <%= link_to "Exit", destroy_user_session_path , method: :delete,  class:"btn btn-dark"%>
    <%= link_to "Update", edit_user_registration_path ,  class:"btn btn-dark"%>
<% else %>
    <%= link_to "Log In", new_user_session_path , class:"btn btn-dark"%>
    <%= link_to "Sign Up", new_user_registration_path ,  class:"btn btn-dark"%>
<% end %>

