<h1>edit <%=@item.name%> </h1>
<%= simple_form_for @item do |f|%>
        <%=f.input  :name, label: t("applicationrecord.attributes.item.name"), input_html: { class: "form-text"} , placeholder: @item.name%>
        <%=f.input  :price, label: t("applicationrecord.attributes.item.price"), placeholder: @item.price , required: true%>
        <%=f.input  :seller_id, collection: @sellers , label: t("applicationrecord.attributes.item.seller"), placeholder: @item.seller_id , required: true%>
        <%=f.input  :description,label: t("item.description"), input_html: { class: "form-text"} , placeholder: @item.description%>
    </br>
    </br>

     <%=f.button :submit, "#{t("cotrollers.update")} #{t("applicationrecord.models.item")}",  class:"btn-primary"%>
<% end %>
<%= render partial: "shared/email"%>


