<!DOCTYPE html>
<html>
  <head>
    <title>RailsCourse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "include/auth/header"%>
    <div class="jumbotron vertical-center">
      <div class="container">
        <h1>User panel</h1>

        <%= render "include/main/notification"%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
